<table class="table table-hover">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Quantity</th>
            <th>Date Time Added</th>
        </tr>
    </thead>
    <tbody id="view-all-item-table">
        
    </tbody>
</table>



@section Scripts{
    <script src="~/js/view-all-api-test.js"></script>
}